        {#- ---------------------------------------------------------------------------------- #}
        {# interface                                                                       #}
        {# ---------------------------------------------------------------------------------- -#}
        {% if each.interface is defined %}
            {% if each.interface is not mapping and each.interface is not string %}
                {% for each in each.interface %}
        interface {{ each.name }};
                {% endfor %}
            {% else %}
        interface {{ each.interface.name }};
            {% endif %}
        {% endif %}
