    {# ----------------------------------------------------------------------------------- #}
    {# bmp                                                                                 #}
    {# ----------------------------------------------------------------------------------- #}
    {% if configuration_routing_options.bmp is defined %}
    bmp {
        {% if configuration_routing_options.bmp.station is defined %}
            {% for each in configuration_routing_options.bmp.station %}
        station {{ each.name }} {
            initiation-message {{ inventory_hostname }};
            local-address {{ each.local_address }};
                {% if each.local_port is defined %}
            local-port {{ each.local_port }};
                {% endif %}
            connection-mode {{ each.connection_mode }};
            monitor {{ each.monitor }};
                {% if each.route_monitoring is defined %}
            route-monitoring {
                    {% if each.route_monitoring.pre_policy is defined %}
                pre-policy;
                    {% endif %}
                    {% if each.route_monitoring.post_policy is defined %}
                post-policy;
                    {% endif %}
            }
                {% endif %}
            station-address {{ each.station_address }};
                {% if each.routing_instance is defined %}
            routing-instance {{ each.routing_instance }};
                {% endif %}
            station-port {{ each.station_port }};
            statistics-timeout {{ each.statistics_timeout }};
        }
            {% endfor %}
        {% endif %}
    }
    {% endif %}
