        {#- ---------------------------------------------------------------------------------- #}
        {# vrf instance type                                                                   #}
        {# ---------------------------------------------------------------------------------- -#}
        {% if each.instance_type is defined %}
        instance-type {{ each.instance_type }};
        {% endif %}
