# {{page_title}}

![platforms](https://github.com/cdot65/apstra-ansible-collection/raw/main/docs/media/apstra.png?raw=true)

## Welcome

First off, hello and welcome to the landing page for the `cdot65.apstra` Ansible Collection. My name is Calvin and I work in a sales capacity at Juniper Networks; I am hope that you find this collection helpful.

Please refer to the table below for documentation and examples of the collection's functionality.

| Functionality      | Ansible Module          | Link to documentation | Link to example |
| ------------------ | ----------------------- | ------------------------------------------------------------------------------ | ------------------------------------------------------------------------ |
| Create a blueprint | cdot65.apstra.blueprint | [documentation](https://cdot65.github.io/apstra-ansible-collection/blueprint/) | [example](https://cdot65.github.io/apstra-ansible-collection/blueprint/) |
| Create a design    | cdot65.apstra.design    | [documentation](https://cdot65.github.io/apstra-ansible-collection/design/)    | [example](https://cdot65.github.io/apstra-ansible-collection/blueprint/) |
| Create resources   | cdot65.apstra.resources | [documentation](https://cdot65.github.io/apstra-ansible-collection/resources/) | [example](https://cdot65.github.io/apstra-ansible-collection/blueprint/) |


*This page is generated automatically*
