
    {# ----------------------------------------------------------------------------------- #}
    {# rstp                                                                                #}
    {# ---------------------------------------------------------------------------------- -#}
    {% if configuration_protocols.rstp is defined %}
    rstp {
        {# ----------------------------------------------------------------------------------- #}
        {# bridge-priority                                                                     #}
        {# ---------------------------------------------------------------------------------- -#}
        {% if configuration_protocols.rstp.bridge_priority is defined %}
        bridge-priority 0;
        {% endif %}

        {# ----------------------------------------------------------------------------------- #}
        {# interface                                                                           #}
        {# ---------------------------------------------------------------------------------- -#}
        {% if configuration_protocols.rstp.interface is defined %}
        {% for each in configuration_protocols.rstp.interface %}
        interface {{ each.name }};
        {% endfor %}
        {% endif %}

        {# ----------------------------------------------------------------------------------- #}
        {# bpdu-block-on-edge                                                                  #}
        {# ---------------------------------------------------------------------------------- -#}
        {% if configuration_protocols.rstp.bpdu_block_on_edge is defined %}
        bpdu-block-on-edge;
        {% endif %}

    }
    {% endif %}
