#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"
{#- ---------------------------------------------------------------------------------- #}
{# Junos Configuration stanza for "poe"                                                #}
{# ---------------------------------------------------------------------------------- -#}
{% if configuration_poe is defined %}
poe {
    {% if configuration_poe.interface is defined %}
    {% for each in configuration_poe.interface %}
    interface {{ each.name }};
    {% endfor %}
    {% endif %}
}
{% endif %}