# {{page_title}}

![platforms](https://github.com/cdot65/mist-ansible-collection/raw/main/docs/media/mist.png?raw=true)

## Welcome

First off, hello and welcome to the landing page for the `cdot65.mist` Ansible Collection. My name is Calvin and I work in a sales capacity at Juniper Networks; I am hope that you find this collection helpful.

Please refer to the table below for documentation and examples of the collection's functionality.

| Name                                                                                                                                  | Description                    |
| ------------------------------------------------------------------------------------------------------------------------------------- | ------------------------------ |
| [cdot65.mist.gateway](https://github.com/cdot65/mist-ansible-collection/blob/master/cdot65/mist/docs/cdot65.mist.gateway.rst)         | Configure SRX and 128T devices |
| [cdot65.mist.site](https://github.com/cdot65/mist-ansible-collection/blob/master/cdot65/mist/docs/cdot65.mist.site.rst)               | Manage sites                   |
| [cdot65.mist.site_groups](https://github.com/cdot65/mist-ansible-collection/blob/master/cdot65/mist/docs/cdot65.mist.site_groups.rst) | Manage site groups             |
| [cdot65.mist.wired](https://github.com/cdot65/mist-ansible-collection/blob/master/cdot65/mist/docs/cdot65.mist.wired.rst)             | Manage wired configurations    |
| [cdot65.mist.wlan](https://github.com/cdot65/mist-ansible-collection/blob/master/cdot65/mist/docs/cdot65.mist.wlan.rst)               | Manage wireless configurations |


*This page is generated automatically*
