    {#- ---------------------------------------------------------------------------------- #}
    {# host-name                                                                           #}
    {# ---------------------------------------------------------------------------------- -#}
    {% if configuration_system.host_name is defined %}
    host-name {{ configuration_system.host_name }};
    {% endif %}
