    {#- ---------------------------------------------------------------------------------- #}
    {# mgmt instance                                                                       #}
    {# ---------------------------------------------------------------------------------- -#}
    {% if configuration_system.management_instance is defined %}
    management-instance;
    {% endif %}
