    {% if configuration_system.master_password is defined %}
    master-password {
        {% if configuration_system.master_password.undocumented is defined %}
        {% if configuration_system.master_password.undocumented.password_configured is defined %}
        password-configured;
        {% endif %}
        {% endif %}
        {% if configuration_system.master_password.pseudorandom_function is defined %}
        pseudorandom-function {{ configuration_system.master_password.pseudorandom_function }};
        {% endif %}
    }
    {% endif %}
