    {#- ---------------------------------------------------------------------------------- #}
    {# redirects                                                                           #}
    {# ---------------------------------------------------------------------------------- -#}
    {% if configuration_system.no_redirects is defined %}
    no-redirects;
    {% endif %}
