    {#- ---------------------------------------------------------------------------------- #}
    {# snapshot                                                                            #}
    {# ---------------------------------------------------------------------------------- -#}
    {% if configuration_system.auto_snapshot is defined %}
    auto-snapshot;
    {% endif %}