    {#- ---------------------------------------------------------------------------------- #}
    {# time zone                                                                           #}
    {# ---------------------------------------------------------------------------------- -#}
    {% if configuration_system.time_zone is defined %}
    time-zone {{ configuration_system.time_zone }};
    {% endif %}
